body,html
{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    width: 100%;
}

/* nav bar starts */
.container
{
    /* background-color:green; */
    /* margin-top: 67px; */
    margin-left: 0px;
    border-bottom: 1px solid grey;
}
.nav-container li
{
    display: inline;
    padding: 0px 0px 10px 35px;
    font-size: 19px;
    /* font-family: raleway; */
}
.nav-container li a
{
    color: black;
    text-decoration: none;
    font-weight:bold;
}
.navc-fir
{
    text-decoration: none;
    /* background-color: blue; */
    /* margin-left: 0px; */
    padding-right: 636px;
    font-size: 19px;
    font-family: raleway;
    color: black;
    font-weight: bolder;
}
.navc-fir span
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}
.nav-container .btn-3
{
    color: white;
    background-color: rgb(34, 110, 250);
    font-size: 16px;
    padding: 5px 9px 5px 9px;
    /* border: 1px solid rgba(14, 13, 13, 0.938); */
    border-radius: 7px;
    /* font-family: raleway; */
    font-weight: bolder;
    margin-left: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
}
.con2
{
    text-transform: uppercase;
    text-align: center;
}
.con2 h2
{
    font-weight: normal;
}
.con2 p
{
    font-weight: 100;
    font-size: 19px;
    text-transform: lowercase;
}
/* nav bar stops */





/* images1 starts */


.container4
{
    /* position: absolute; */
    /* position: absolute;  */
    font-size: 21px;
    /* top: 2102px; */
    /* background-color: yellow; */
    height: 770px;
    width: 94%;
    text-align: center;
    margin-left: 0;
    color: white;
    padding-top: 69px;
    color: black;
    padding-left: 69px;
    margin-top: -54px;
    margin-left: -48px;
}
.icon-contents4
{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr 1fr;
    /* margin-top: 464px; */
    /* grid-gap: 56px; */
    /* padding-top: 42px; */
}
.icon-contents4 .box-1
{
    /* background-color:red; */
    /* border: 1px solid #e0dada; */
    border-radius: 3px;
    height: 265px;
    padding: 42px;
}
.icon-contents4 .box-1 .img4
{
    background-image: url(https://cdn.pixabay.com/photo/2020/07/12/18/51/sunset-5398419__340.jpg);
}
.icon-contents4 .box-1 .img4
{
    width: 791px;
    height: 333px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 7px;
}
.icon-contents4 .box-1 h3
{
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}
.icon-contents4 .box-1 p
{
    /* text-transform: uppercase; */
    font-weight: normal;
    text-align: left;
}
.icon-contents4 .box-2
{
    /* background-color: orange; */
    /* border: 1px solid #e0dada; */
    border-radius: 3px;
    height: 265px;
    padding: 42px;
}
.icon-contents4 .box-2 h3
{
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    margin-left: -42px;
}
.icon-contents4 .box-2 p
{
    font-weight: normal;
    text-align: left;
    font-size: 19px;
    margin-left: -42px;
}
.icon-contents4 .box-3
{
    /* background-color: yellow; */
    /* border: 1px solid #e0dada; */
    border-radius: 3px;
    height: 265px;
    margin-left: 902px;
    /* padding-left: 473px; */
    margin-right: -450px;
}
.icon-contents4 .box-2 .btn
{
    color: black;
    background-color:transparent;
    font-size: 19px;
    padding: 10px 39px 10px 39px;
    /* border: 1px solid rgba(14, 13, 13, 0.938); */
    border-radius: 7px;
    /* font-family: raleway; */
    font-weight: bolder;
    margin: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    margin: 5px;
}
.icon-contents4 .box-3 h3
{
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
}
.icon-contents4 .box-3 .a1
{
    font-weight: normal;
    float: left;
    font-size: 25px;
}
/* images1 stops */











/* images2 starts */

.container3
{
    position: absolute;
    font-size: 21px;
    top: 1100px;
    /* background-color: black; */
    height: 770px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    color: black;
    padding-top: 69px;
}
.container3 h2
{
    text-transform: uppercase;
}
.container3 p
{
    text-transform: capitalize;
}
.icon-contents3
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px;
    /* margin-top: 464px; */
    /* grid-gap: 56px; */
    /* padding-top: 42px; */
}
.icon-contents3 .box-1
{
    /* background-color:red; */
    /* border: 1px solid #e0dada; */
    border-radius: 3px;
    height: 265px;
    padding: 42px;
}
.icon-contents3 .box-2
{
    /* background-color: orange; */
    /* border: 1px solid #e0dada; */
    border-radius: 3px;
    height: 265px;
    padding: 42px;
}
.icon-contents3 .box-1 h4,.box-2 h4
{
    text-transform: uppercase;
    font-weight: normal;
}
.icon-contents3 .box-1 p,.box-2 p
{
    text-transform: none;
    font-size: 19px;
}
.icon-contents3 .box-1 .img3
{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/13/20/street-2583547__340.jpg);
}
.icon-contents3 .box-2 .img3
{
    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/10/57/person-692159__340.jpg);
}
.icon-contents3 .box-1 .img3
{
    width: 582px;
    height: 264px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 7px;
}
.icon-contents3 .box-2 .img3
{
    width: 582px;
    height: 264px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 7px;
}
.icon-contents3 .box-1 .btn-1,.box-2 .btn-2
{
    color: black;
    background-color:transparent;
    font-size: 19px;
    padding: 10px 39px 10px 39px;
    /* border: 1px solid rgba(14, 13, 13, 0.938); */
    border-radius: 7px;
    /* font-family: raleway; */
    font-weight: bolder;
    margin: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    margin: 5px;
}
/* images2 stops */




/* footer starts  */

.container5
{
    position: absolute;
    font-size: 21px;
    top: 1988px;
    background-color: rgba(238, 235, 235, 0.856);
    height: 435px;
    width: 100%;
    /* text-align: center; */
    margin-left: 0;
    color: white;
    padding-top: 69px;
    color: black;
    border-bottom: 1px solid #000;
}
.icon-contents5
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    /* margin-top: 464px; */
    grid-gap: 24px;
    /* padding-top: 42px; */
    margin-left: 82px;
}
.icon-contents5 .box-1 h3,.box-2 h3,.box-3 h2
{
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}
.icon-contents5 .box-3 p
{
    /* text-transform: uppercase; */
    font-weight: normal;
    text-align: left;
}
.icon-contents5 .box-3 i
{
    background-color:white;
    border: none;
    font-size: 21px;
    color: black;
}
.fr-title
{
    top: 2405px;
    /* background-color: orange; */
    text-align: center;
    width: 100%;
    height: 100px;
    position: absolute;
}
.fr-title p
{
  border-right: 1px solid grey;
  text-transform: capitalize;
  /* margin-top: 20px; */
  margin-left: 10px;
  /* text-indent: 20px; */
  display: inline;
  /* color: grey; */
  font-size: 19px;
  /* background-color: red; */
  width: 146px;
  padding-right: 20px;
}

/* footer stops  */








/* footer starts1  */
.footer
{
        /* background-color: yellow; */
    top: 2498px;
    width: 100%;
    position: absolute;
    /* height: 300px; */
    /* color: rgb(224, 32, 32);
}

/* footer stops1 */